<div class="container-fluid">
  <div class="row">
    <div class="col-12"></div>
    <h1>Explore more destinations</h1>
    <p class="text-dark opacity-50"> Find things to do in cities around the World</p>

    <ng-container *ngFor="let item of ContinentList" >
      <ul class="nav nav-underline" name="Con" id="Con" [(ngModel)]="selectedContinentID" >
        <li class="nav-item"  >
          <a class="nav-link "  routerLinkActive="active"  href="#"   >{{item.Name}}</a>
        </li>
      </ul>
    </ng-container>


    <!-- <div>
      <label for="cat">Select Category:</label>
      <select name="cat" id="cat" class="form-control" [(ngModel)]="selectedCatID">
        <option value="0">All</option>
        <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
      </select>
    </div> -->


  </div>
</div>
<app-country  [receivedContinentID]="selectedContinentID" ></app-country>
