<div class="container-fluid">
  <div id="d1">
      <br>
      <h1 style="margin-left: 180px;">Find and book a great experience</h1>
      <p style="font-size:larger; margin-left: 180px; ">
          Discover more of your destination and make the most of your trip</p>
          <br>
          <div class="input-group ">
      <div id="bar" class="input-group-text  border-warning  border border-2 container"
      style="height: 70px; ;width:900px ;margin-left: 170px ; margin-right: 130px ; border-width: 20px;">
          <input id="in1" type="search" class="form-control" placeholder="where are you going?">
          <input id="in2" type="date" class="form-control , " placeholder="select your dates">
          <input id="in3" type="submit" value="search" class="form-control btn btn-primary  " style="width: 160px;">
      </div>
  </div>
  </div>
<br>
<br>

  <div id="d3" class="container" style="margin-left: 85px; border-style: solid; border-radius: 20px; border-width: 1px; width: 1000px; margin-left: 150px; border-color: blanchedalmond; height: 90px;">
      <i class="fa-solid fa-snowflake" style="display: inline-block; margin: 5px;"></i>
      <br>

      <p style="display: inline-block;">Please check local guidelines before planning your visit
          <span><a href="https://www.booking.com/covid-19.html" target="_blank">
                  Read more</a></span>
                  <br>

      </p>
  </div>
  <br>
  <br>
  <section class="container">

    <app-egypt-cities></app-egypt-cities>
      <!-- <header>
          <h3 style="  margin-left: 10px;">Nearby destinations</h3>
      </header>
      <div class="row container ">
          <div class="col-lg-4 mb-2">
              <div class="card ">
                 <a href="" routerLink="/attractions2"> <img src="assets/Imgs/aai.png.png" class="card-img-top pointer"></a>
              </div>
          </div>
          <div class="col-lg-4 mb-2">
              <div class="card ">
                 <a href="" routerLink="/attractions2"> <img src="assets/Imgs/athena.png" class="card-img-top pointer"></a>
              </div>

          </div>
          <div class="col-lg-4 mb-2">
              <div class="card ">
                <a href="" routerLink="/attractions2"> <img src="assets/Imgs/cpven.png" class="card-img-top pointer">
             </a> </div>

          </div>
          <br>
          <div class="col-lg-4 mb-2">
              <div class="card ">
                <a href="" routerLink="/attractions2"><img src="assets/Imgs/parcolen.png" class="card-img-top pointer"></a>
              </div>
          </div>

          <div class="col-lg-4 mb-2">
              <div class="card ">
                 <a href="" routerLink="/attractions2"> <img src="assets/Imgs/mala.png" class="card-img-top pointer"></a>
              </div>

          </div>
          <div class="col-lg-4 mb-2">
              <div class="card ">
               <a href="" routerLink="/attractions2"><img src="assets/Imgs/hum.png" class="card-img-top pointer"></a>
              </div>
          </div>
      </div> -->

<br>
<br>

<div id="d4" class="container" style=" border-style: solid; border-radius: 20px; border-width: 1px; width: 1000px; border-color: blanchedalmond; height: 140px;">
  <i class="fa-solid fa-snowflake" style="display: inline-block;"></i>
  <br>

  <h4 id="p1" style="display: inline-block; font-weight: bold;"> sign in to save time </h4>
  <p>Your Booking.com account lets you book using your saved details</p>
  <div><a  href="https://www.booking.com/covid-19.html" target="_blank">
          sign in</a></div>
</div>
<br>

<div class="container">
  <hr>
  <br>
  <div class="row">
      <div>
          <h5 style=" font-weight: bold;">We've got you covered</h5>
      </div>

      <div class="col-lg-4">
          <i class="fa-solid fa-snowflake" style="display: inline-block; margin: 5px;"></i>
          <h4 style="display: inline-block; font-weight: bold;">Explore top attractions</h4><br>
          <!-- <bre id="p1"> Experience the best of your destination,
              with attractions,
              tours, activities and more</bre> -->
      </div>
      <div class="col-lg-4">

          <i class="fa-solid fa-snowflake" style="display: inline-block; margin: 5px;"></i>
          <h4 style="display: inline-block;  font-weight: bold;">Fast and flexible</h4><br>
          <!-- <bre id="p1">Book tickets online in minutes, with free
              cancellation on many attractions</bre> -->
      </div>
      <div class="col-lg-4">
          <i class="fa-solid fa-snowflake" style="display: inline-block; margin: 5px;"></i>
          <h4 style="display: inline-block;  font-weight: bold;">Support when you need it</h4><br>
          <!-- <bre id="p1"> Booking.com's global Customer Service team
                                     is here to help 24/7 </bre> -->
      </div>
      <br>
  </div>
  <br>
  <hr>
</div>

<div class="container">
  <!-- <div>
      <h3 style=" font-weight: bold;">Explore more destinations</h3>
      <p style="font-size: larger">Find things to do in cities around the world</p>
  </div>
  <br> -->

  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
              type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Europe</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
              type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Asia</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
              type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Africa</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
              type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">America</button>
      </li>
  </ul> -->
  <!-- <br>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
          tabindex="0">
          <div class="row" id="europe-row">

          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
              tabindex="0"></div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
              tabindex="0"></div>
          <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
              tabindex="0"></div>
      </div>
  </div>
</div> -->












<section>
  <div class="container-fluid">
    <div class="mb-5">
      <h2>{{"Explore more destinations"|translate}}</h2>
      <p class="text-dark opacity-50"> {{"Find things to do in cities around the World"|translate}}</p>
    </div>

    <div class="all-work text-center" >

      <section class="service-title d-flex justify-content-between mb-3">

        <div class="category-select "
         *ngFor="let work of ContinentList"
         routerLinkActive="active"
         routerLink="/Continent/{{work.id}}"


        >

        <div>


        <span  >{{work.name}}</span>

       </div>
          </div>
        </section>
    </div>


    <div class="row">
       <ng-container  *ngFor="let Country of ListOfCountries; let index=index"
       >
            <div  class="item-box position-relative col-lg-4 col-md-6  col-xl-3">



             <!-- <a (click)="CountryDetails(Country.id)"> -->

              <!-- <a [routerLink]='["/CityDetails",Country.id]'> -->

              <a routerLink="/CityDetails/{{Country.id}}" >
                 <div class="card text-bg-dark"   >

                  <div class="photo" >

                  <img class=" img-fluid"  src="../../../assets/CountryImg/{{Country.name}}.jpg" >

                  </div>
                  <div class="card-img-overlay">
                    <h5 class="card-title"   >{{Country.name}}</h5>

                  </div>
                </div>
            </a>
            <!-- </a> -->



          </div>

         </ng-container>



    </div>
  </div>
</section>

