@using BookingClone.Application.Features.HotelFeatures.DTOs;
@model GetHotelsDto
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <label class="fs-4 fw-lighter mb-1">Hotel Name</label>
    <input asp-for="Name" class="form-control w-50 " />
    <label class="fs-4 mb-1 fw-lighter">Hotel Description</label>
    <input class="form-control w-50 " asp-for="Description" />
    <label class="fs-4 mb-1 fw-lighter">StarRating</label>
    <input class="form-control w-50" asp-for="StarRating" />

    <div class="form-group row py-2">
        <div class="col-8 offset-4 row">
            <div class="col">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i>
                    Submit
                </button>
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i>
                    Back
                </a>
            </div>
        </div>
    </div>
</form>
