<form method="post" asp-controller="Hotel" asp-action="UpdateHotel">
    <label>Hotel ID</label>
    <input type="number" name="ID" />
    <label>Hotel Name</label>
    <input type="text" name="Name" />
    <label>Hotel Description</label>
    <input type="text" name="Description" />
    <label>Hotel Rooms</label>
    <input type="text" name="Rooms" />
    <button type="submit">Submit</button>


</form>
