<footer class="container">
    <section id="footerLinks" class="my-3">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li>
                        <a i18n href="#">Countries</a>
                    </li>
                    <li>
                        <a i18n href="#">Regions</a>
                    </li>
                    <li>
                        <a i18n href="#">Cities</a>
                    </li>
                    <li>
                        <a i18n href="#">Districts</a>
                    </li>
                    <li>
                        <a i18n href="#">Airports</a>
                    </li>
                    <li>
                        <a i18n href="#">Hotels</a>
                    </li>
                    <li>
                        <a i18n href="#">Places of interest</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Homes</a>
                    </li>
                    <li>
                        <a href="#">Apartments</a>
                    </li>
                    <li>
                        <a href="#">Resorts</a>
                    </li>
                    <li>
                        <a href="#">Villas</a>
                    </li>
                    <li>
                        <a href="#">Hostels</a>
                    </li>
                    <li>
                        <a href="#">B&Bs</a>
                    </li>
                    <li>
                        <a href="#">Guest houses</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Unique places to stay</a>
                    </li>
                    <li>
                        <a href="../Reviews/index2.html">Reviews</a>
                    </li>
                    <li>
                        <a href="#">Unpacked: Travel articles</a>
                    </li>
                    <li>
                        <a href="#">Travel Communities</a>
                    </li>
                    <li>
                        <a href="#">Seasonal and holiday deals</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Car hire</a>
                    </li>
                    <li>
                        <a href="#"> Flight finder</a>
                    </li>
                    <li>
                        <a href="#">Restaurant reservations</a>
                    </li>
                    <li>
                        <a href="#">Booking.com for Travel Agents</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Coronavirus (COVID-19) FAQs</a>
                    </li>
                    <li>
                        <a href="#">About Booking.com</a>
                    </li>
                    <li>
                        <a href="#">Customer Service help</a>
                    </li>
                    <li>
                        <a href="#"> Partner help</a>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <a href="#">Sustainability</a>
                    </li>
                    <li>
                        <a href="#">Press centre</a>
                    </li>
                    <li>
                        <a href="#">Safety resource centre</a>
                    </li>
                    <li>
                        <a href="#">Investor relations</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Partner dispute</a>
                    </li>
                    <li>
                        <a href="#">How we work</a>
                    </li>
                    <li>
                        <a href="#">Privacy & Cookie Statement</a>
                    </li>
                    <li>
                        <a href="#">MSA Statement</a>
                    </li>
                    <li>
                        <a href="#">Corporate contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="mt-4">
        <div class="text-center">
            <a href="#" class="text-decoration-none">Extranet login</a>
        </div>
        <div class="my-4 ps-5">
            <p class="fw-light">
                Copyright &copy; 1996-2023 Booking.com&trade;. All rights reserved.
            </p>
        </div>
        <div class="my-1 text-center">
            <p class="text-muted fw-light">
                Booking.com is part of Booking Holdings Inc., the world leader in online travel and related
                services.
            </p>
        </div>
        <div class="my-2 text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="../../shared/booking-logo.png" width="96" height="26" />
                </li>
                <li class="list-inline-item">
                    <img src="../../shared/priceline-logo.png" width="96" height="26" />
                </li>
                <li class="list-inline-item">
                    <img src="../../shared/kayak-logo.png" width="96" height="26" />
                </li>
                <li class="list-inline-item">
                    <img src="../../shared/agoda-logo.png" width="96" height="26" />
                </li>
                <li class="list-inline-item">
                    <img src="../../shared/rentalcars-logo.png" width="96" height="26" />
                </li>
                <li class="list-inline-item">
                    <img src="../../shared/opentable-logo.png" width="96" height="26" />
                </li>
            </ul>
        </div>
    </section>
</footer>