<div class="container-fluid ps-4 pe-5  " style="background-image:url(images/green.jpeg)">

  <div class="text-white ps-5 mb-5 col-md-8 col-sm-12">
      <h3 class="display-6 fw-bold mt-3 pt-5">The freedom to take your time</h3>
      <h5 class="text-white fw-light mt-2">Experience the world your way when you stay for 30 nights or
          more</h5>
  </div>
  <form class=" pt-5 ">
      <div class="input-group ps-5 pe-5 col-md-8 col-sm-12 " style="height: 60px;">
          <!-- ps= padding start  pe= padding end-->
          <span class="input-group-text border border-warning border-4 rounded-3" id="addon-wrapping">
              <i class="fa-solid fa-bed"></i>
          </span>
          <input type="text" class=" w-25 form-control border border-warning border-4 "
              placeholder="More places than you could ever go (but you can try!)">

          <input type="date" class=" w-25 form-control border-end-0 border border-warning border-4 "
              placeholder="check In">
          <input type="date" class=" w-25 form-control border-start-1 border border-warning border-4 "
              placeholder="check out">

          <button class="btn btn-primary px-4 returnHide border border-warning border-4 rounded-3"
              type="button">Search</button>
      </div>
  </form>
</div>
