<div class="container-fluid">
  <div class="row">
    <div class="mb-5">
      <h1>{{"Explore"|translate}} {{findname?.name}}</h1>

      <p class="text-dark opacity-50"> {{"These popular desitions have a lot to offer"|translate}}</p>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3" *ngFor="let city of returnedCity;let index=index">
      <div class="card" style="width: 19rem;">
        <img src="../../../assets/CityImg/{{city.name}}.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <p class="card-text">{{city.name}}</p>
        </div>
      </div>
      </div>
    </div>

</div>


