@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h2 class="display-4">Welcome to your Admin Portal</h2>
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<<<<<<< HEAD
>>>>>>> first commit
=======
    <a class="btn btn-primary" asp-controller="RoomReservations">Room Reservations</a>
    <a class="btn btn-primary" asp-controller="City">Cities</a>
<<<<<<< HEAD
>>>>>>> test 4
=======
    <a class="btn btn-primary" asp-controller="Country">Countries</a>

>>>>>>> continentview
</div>
