@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-controller="RoomReservations">Room Reservations</a>
    <a class="btn btn-primary" asp-controller="City">Cities</a>
    <a class="btn btn-primary" asp-controller="Country">Countries</a>
    <a class="btn btn-primary" asp-controller="Continent">Countries</a>

</div>
