<!-- <section id="section1">
  <p class="p_section"><strong id="increase_number">1000000</strong></p>
  <p class="p_section" style="font-size: 30px;"><strong>destination reviews from real travelers</strong></p>


  <button type="button" id="question_botton" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <strong style="font-size: 17px; "> How was your stay?</strong>
  </button>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Verified reviews from real guests.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="assets/images/90.PNG" alt="photo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign in and leave a review</button>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div class="navbar-brand ">

<div class="container-fluid ps-4 pe-5 h-75 mt-3" style="background-image:url(assets/images/1.png)">
  <div class="text-dark ps-5 mb-5 col-md-8 col-sm-12">
    <h1 class="display-6 fw-bold mt-3 pt-5">100000000</h1>
    <h2 class="text-dark fw-bold mt-2">photos shared by real travelers</h2>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg border border-3 rounded-0 ms-5 mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
  How was your stay?
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg border border-light border-5 ">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h6 class="modal-title text-muted fw-bold fs-5" id="exampleModalLabel">Verified reviews from real guests.</h6>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <div class="row"> <img src="assets/images/90.PNG" class="w-100 p-5" alt=""></div>
        <p class=" ps-2 text-muted">If you booked through us and want to leave a review, please sign in first.</p>
      </div>
      <div class="modal-footer">

        <a class="btn btn-primary" href="#" role="button">Sign in and leave a review</a>
        
      </div>
    </div>
  </div>
</div>

</div>
</div>

