<header class="bg-body-tertiary">
  <nav class="navbar navbar-expand-md bg-primary">
      <div class="container">
          <a class="navbar-brand text-white fw-bold" href="#">Booking.com</a>
          <button class="navbar-toggler bg-white " type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarToggler" aria-controls="navbarToggler " aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarToggler">
              <ul class="navbar-nav ms-auto text-white d-flex mb-2 mb-lg-0">
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <button class="btn btn-outline-light border-0 mx-1" data-bs-toggle="modal"
                              data-bs-target="#currenciesModal" data-bs-tooltip="tooltip"
                              data-bs-placement="bottom" data-bs-title="Choose your currency">
                              EGP
                          </button>
                      </div>
                      <div class="modal fade" id="currenciesModal" tabindex="-1"
                          aria-labelledby="currenciesModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5 fw-bold" id="currenciesModalLabel">Select your
                                          currency
                                      </h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <h6 class="fw-bold mb-3">All currencies</h6>
                                      <div id="currencyModal" class="row">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <button class="btn btn-outline-light border-0 mx-1" data-bs-toggle="modal"
                              data-bs-target="#languagesModal" data-bs-tooltip="tooltip"
                              data-bs-placement="bottom" data-bs-title="Choose your language">
                              <i class="fi fi-gb fs-5"></i>
                          </button>
                      </div>
                      <div class="modal fade" id="languagesModal" tabindex="-1"
                          aria-labelledby="languagesModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5 fw-bold" id="languagesModalLabel">Select your
                                          language
                                      </h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <h6 class="fw-bold mb-3">All languages</h6>
                                      <div id="languageModal" class="row"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <button class="btn btn-outline-light border-0 mx-1" data-bs-tooltip="tooltip"
                              data-bs-placement="bottom" data-bs-title="Contact Customer Service">
                              <i class="bi bi-question-circle fs-5"></i>
                          </button>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <a href="#" class="btn btn-outline-light border mx-1">List your property</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <a href="#" class="btn btn-light mx-1">Register</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <div class="d-grid gap-2 d-md-block">
                          <a href="#" class="btn btn-light mx-1">Sign in</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <nav class="navbar- bg-primary">
      <div class="container">
          <ul class="nav nav-pills">
              <li class="nav-item">
                  <a class="nav-link active rounded-5 border text-white" aria-current="page" href="index.html">
                      <i class="bi bi-tree"></i>
                      Stays
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">
                      <i class="bi bi-airplane"></i>
                      Flights
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../Car Rentals/index.html">
                      <i class="bi bi-car-front"></i>
                      Car rentals
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../Attractions/index.html">
                      <i class="bi bi-binoculars-fill"></i>
                      Attractions
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="../Airport Taxis/index.html">
                      <i class="bi bi-taxi-front-fill"></i>
                      Airport Taxis
                  </a>
              </li>
          </ul>
      </div>

<app-Review-Header></app-Review-Header>

  </nav>

</header>

<div class="container-fluid">
  <img src="assets/images/pic1.png" class="img-fluid"  alt="">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2  col-md-12 col-sm-6" style="background-color: rgb(238, 236, 236);">
      <h4 class=" fw-bold text-muted text-center pt-5">Top Countries</h4>
      <div class="mt-5">
        <a class="text-center"
          href="https://www.booking.com/reviews/country/ae.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">
          United Arab Emirates</a>
        <h6 class="fw-bold text-muted text-center">DAMAC Maison Distinction </h6>

        <p class="fw-light text-muted text-center"> Very friendly and welcoming staff and I would like to
        thanks Mrs.
        Grace and Mrs. Sumitra for there smoothie chick in and upgraded my room. - The location in waking
        distance to
        Dubai mall( approximately 15 min.). - the three bed rooms apartment very spacious and one of the room is
        master
        room, the hall apartment with balcony have very nice view on khalifah tower.”
      </p>
      </div>
    </div>

<div class="col-lg-1"></div>

    <div class="col-lg-8 col-sm-12">
      <h3 class=" fw-bold text-muted text-center pt-5" >Recent Reviews</h3>
      <div class="row">
        <div class=" col-lg-4 col-md-3 col-sm-12 " *ngFor=" let item of reviews">
          <div class="card mt-5">
            <img src="assets/images/2.jpg" class="card-img-top" alt="photo room1">
            <div class="card-body">
              <p class="card-text"><i class="fa-regular fa-plus fa-xs me-2" style="color: #49bc4a;"></i>{{item.positiveReview}}</p>
             <p class="card-text"><i class="fa-solid fa-minus fa-xs me-2" style="color: #49bc4a;"></i>{{item.negativeReview}}</p>
              <p class="card-text fw-bold"></p>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</div>

