
<div class="container-fluid ps-3 pe-5  mt-5">

  <div class="text-white ps-5 mb-5 col-md-8 col-sm-12">
      <h1 class="display-5 fw-bold ">The great getaway, your way </h1>
      <h3 class="text-white fw-light">Save at least 15% on stays worldwide, from relaxing retreats to off-the-grid adventures      </h3>
  </div>
  <form>
      <div class="input-group ps-5 pe-5 col-md-8 col-sm-12" style="height: 60px;">
          <!-- ps= padding start  pe= padding end-->

          <span class="input-group-text border-3 border-warning  border-end-0" id="addon-wrapping">
              <i class="fa-solid fa-bed"></i>
          </span>


          <input type="text" class=" w-25 form-control  border-start-0 border-warning border-3"
              placeholder="Where are you going?">

          <input type="date" class=" pt-3 w-25 form-control border border-warning border-3"
              placeholder="check-in">
          <input type="date" class=" pt-3 w-25 form-control  border-end-0 border-warning border-3"
              placeholder="check-out">

          <button class="btn btn-primary px-4 returnHide border-warning border-3 border-start-0"
              type="button">Search</button>
      </div>
  </form>
</div>

