<div class="container-fluid">
  <div class="row">
    <div class="col-4">

      <div class="card text-bg-dark">
        <img src="1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">salma saad</h5>

        </div>
    </div>

    </div>

    <table class="table">



      <ng-container *ngFor="let image of Countryimages ; let i=index ">
       <ng-container *ngFor="let Country of ListOfCountries ; let x=index ">
        <tr  *ngIf="i>=x">

          <td>{{Country.Name}}</td>
          <td><img [src]="image.img" class="img-fluid w-25" (click)="CountryDetails(Country.ID) "></td>

        </tr>
      </ng-container>
      </ng-container>



    </table>











  </div>
</div>
