<section class="container">
  <div class="row container">
    <div class="col-xl-7 my-3 col-lg-7 col-md-6 col-sm-12">
      <img [src]="imgUrl" class="img-fluid w-100 ">
    </div>

    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 border border-2 border-warning py-1 my-3">
      <div class="content  py-2 my-2 container">
        <!-- <img [src]=" imgUrl" class="img-fluid"> -->
        <h4 class="fs-4 fw-bold my-3">{{hotelDetail?.name}}</h4>
        <p>Description: {{hotelDetail?.description}}</p>
        <p *ngIf="hotelDetail?.starRating==5">
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
        </p>

        <p *ngIf="hotelDetail?.starRating==4">
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>

        </p>

        <p *ngIf="hotelDetail?.starRating==3">
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>
          <i class="bi bi-star-fill text-warning "></i>

        </p>
        <hr class="my-4">


        <!-- <div class="row d-grid">
          <ul class="d-flex list-unstyled">
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>


          </ul>


        </div> -->

        <!-- <div class="row d-grid">
          <ul class="d-flex list-unstyled">
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>
            <li class="mx-2 border border-1 p-2"> <i class="bi bi-building-fill"> City View</i></li>


          </ul>


        </div> -->
        <div class="row mt-5 container">
          <h5>Most popular facilities</h5>

          <ul class="d-flex list-unstyled">
            <li class="mx-2 "> <i class="bi bi-check-lg "> Room service</i></li>
            <li class="mx-2 "> <i class="bi bi-x-octagon-fill"> Non-smoking rooms</i></li>
            <li class="mx-2 "> <i class="bi bi-wifi"> Wifi</i></li>

          </ul>

          <ul class="d-flex list-unstyled">
            <li class="mx-2 "> <i class="bi bi-cup-fill "> Breakfast</i></li>
            <li class="mx-2 "> <i class="bi bi-people-fill"> Family rooms</i></li>
            <li class="mx-2 "> <i class="bi bi-bus-front-fill"> Airport shuttle (free)</i></li>

          </ul>
        </div>

      </div>

    </div>

  </div>


</section>

<section class="container">
  <div class="row">

    <div class="content  py-2 my-2">
      <!-- <ng-container *ngFor="let room of rooms">

        <div>
          <img [src]="room?.url" [alt]="room?.bedCount" class="">
        </div>
        <h4>{{room?.name}}</h4>
        <p>{{room?.description}}</p>
        <p>{{room?.starRating}}</p>
        <p *ngIf="room?.isAvailable==true" class="text-primary">Available</p>
        <p *ngIf="room?.isAvailable==false" class="text-danger">Not Available</p>
        <p>{{room?.price}}</p>
        <p>{{room?.roomNumber}}</p>
        <p>{{room?.bedCount}}</p>
         <p>{{room?.viewType}}</p>
       <p *ngIf="room?.viewType==1">Sea View</p>
        <p *ngIf="room?.viewType==2">Garden View</p>
        <p *ngIf="room?.viewType==3">Pool View</p>
      </ng-container> -->
      <ng-container *ngIf="rooms.length == 0">
        <div>No Rooms Found For This Hotel</div>
      </ng-container>
      <ng-container *ngIf="rooms.length > 0">

        <h2 class="fs-5 mx-3">Rooms of this hotel</h2>
        <ng-container *ngFor="let room of rooms">
          <div class="container ">
            <div class=" card mb-3 w-75 ">
              <div class=" row g-0">
                <div class="col-md-4">
                  <img [src]="room?.url" class=" w-100" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body my-2">
                    <h5 class="card-title ">Room Number: {{room?.roomNumber}}</h5>
                    <p class="card-text ">Room Price: {{room?.price}}</p>
                    <p class="card-text ">Number of Beds : {{room?.bedCount}}</p>
                    <p class="card-text" *ngIf="room?.isAvailable==true" class="text-primary">Available</p>
                    <p class="card-text" *ngIf="room?.isAvailable==false" class="text-danger">Not Available</p>

                    <p *ngIf="room?.viewType==1" class="card-text">Room View: Sea View</p>
                    <p *ngIf="room?.viewType==2" class="card-text"> Room View: Garden View</p>
                    <p *ngIf="room?.viewType==3" class="card-text">Room View: Pool View</p>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>




</section>